ENVIRONMENT=local

API__CORS_ORIGINS='["http://localhost:3000"]'
API__ALLOW_METHODS='["GET", "POST", "OPTIONS"]'
API__ALLOW_HEADERS='["Authorization", "Content-Type"]'

AUTH__ALGORITHM="HS256"
AUTH__TOKEN_LIFETIME_MIN=60
